/** 
 *	3 main div setup 
 **/
#wrapper{height:100%; width:100%;}
#header{height:8%;background-color: 00506E;}
#logo{padding-top:1%;padding-top:1%;float:left;}
#header span{color:white;padding-top:25px;padding-left:8%;font-size:35px;font-family:"Times New Roman", Times, serif;}
#content{height:89.5%;overflow:auto;}
#footer{height:2.5%;background-color: 00506E;}
#footer span{color:white; margin-left:40%}
#footer a{color:white;}
#asset_table_wrapper {margin-left:auto;margin-right:auto;}
#account_table_wrapper{padding-top:1%; margin-left:auto;margin-right:auto;}
.require_field{color:red;}
/*
 * Initial loading animation
 */
#initial_window  .modal-header{
	padding:0 0 0 40%;
	color:#00506E;
 }
#initial_window .modal-body{
	min-width:20% !important;
}
#initial_window .progress{
  height:25px;
  margin-bottom:0;
}
#initial_window .modal-content{
	margin-top:45%;
	min-width:20% !important;
}
#initial_window .progress-bar {
 -webkit-animation-direction: reverse;
     -moz-animation-direction: reverse;
      -ms-animation-direction: reverse;
       -o-animation-direction: reverse;
          animation-direction: reverse;
}
.asset_editor_tab_control  .badge{
	background-color:red !important;
	z-index:1000 !important;
}
#basic_info , #history ,#license_info , #calibration_info {height:100%; overflow:auto;}

.asset_editor_tab_control{width:800px;height:400px;}
.left{width:47%;float:left;padding:3% 3% 0 3%}
.right{width:47%;float:left;padding:3% 3% 0 3%}

.left > fieldset > .form-group > .col-lg-9{width:100% !important;}
.left > fieldset > .form-group > .col-lg-offset-3{margin-left:0 !important;}
.right > fieldset > .form-group > .col-lg-9{width:100% !important;}
.right > fieldset > .form-group > .col-lg-offset-3{margin-left:0 !important;}
.window{max-width:900px !important;}
.window .window-body{overflow:auto;}


.flexigrid .edit {    background: url(images/edit.png) no-repeat left;}
.flexigrid .add {    background: url(images/add.png) no-repeat left;}
.flexigrid .delete {    background: url(images/close.png) no-repeat left;}
.flexigrid .delete_account {    background: url(images/close.png) no-repeat left;}
.flexigrid .btn-filter{ background: url(images/filter.png) no-repeat left;}
.flexigrid .btn-search{ background: url(images/magnifier.png) no-repeat left;}
.flexigrid .btn-export{ background: url(images/excel.png) no-repeat left;}
.flexigrid .btn-reset{ background: url(images/load.png) no-repeat left;}
.flexigrid .reactivate{		background: url(images/edit.png) no-repeat left;}
.flexigrid div.nBtn{height:27px !important;}


.main_tab_control > .nav-tabs{
	border-bottom:0;
	background-color: 00506E;
	font-size:18px;
	height:100%;
	width:190px; 
}
.main_tab_control > .tab-content{
	float:left;
	border-bottom:0;
	height:100%;
	width:98.8%;
	float:right;
}
.tab-content > .tab-pane{
	display:none;
	
}
.tab-content > .active{
	display:block;
}
.tab-left > .nav-tabs > li{
	float: none;
}
.main_tab_control > .nav-tabs > li > a{
	min-width: 74px;
	margin-right: 0;
	margin-bottom: 3px;
	color:white;
}
.main_tab_control > .nav-tabs {
	float: left;
	*border-right: 1px solid #ffffff;
}
.main_tab_control > .nav-tabs > li > a {
	margin-right: -1px;
	-webkit-border-radius: 0 0 0 0;
		-moz-border-radius: 0 0 0 0;
			border-radius: 0 0 0 0;
}
.main_tab_control > .nav-tabs > li > a:hover,
.main_tab_control > .nav-tabs > li > a:focus {
	border-color: #eeeeee #dddddd #eeeeee #eeeeee;
	background-color:transparent;
	border-color:transparent;
}
.main_tab_control > .nav-tabs .active > a{
	color:#00506E;
}
.main_tab_control > ul{
	position:fixed;
	z-index:1000;
}
.nav-close{
	left:-170px;
}
.slide-transition, body{
	-webkit-transition: width  2s linear ;
	-moz-transition: width  2s linear ;
	transition: width  2s linear ;
}
/* asset editor tab control */
.asset_editor_tab_control> .nav-tabs {
  border-bottom: 0;
  height:100%;
  width:13%; 
}
.asset_editor_tab_control> .tab-content{
	float:left;
	border-bottom:0;
	height:100%;
	width:87%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-webkit-border-radius: 0 4px 4px 4px;
       -moz-border-radius: 0 4px 4px 4px;
            border-radius: 0 4px 4px 4px;
}


.asset_editor_tab_control> .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.asset_editor_tab_control> .nav-tabs {
  float: left;
  border-right: 1px solid #ddd;
}

.asset_editor_tab_control> .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.tab-left> .nav-tabs > li > a:hover,
.tab-left> .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  background-color:transparent;
  border-color:transparent;
}

.tab-left> .nav-tabs .active > a,
.tab-left> .nav-tabs .active > a:hover,
.tab-left> .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  border-right-color: #ffffff;

}
.glyphicon:empty {
width: 2em;
}

.attachment_container{
	width:770px;
	height:320px;
	overflow:hide;
}
.attachment_container .table{
	margin-bottom:0;
}
.attachment_container  table > thead ,
.attachment_container  table > tbody {
	display:block;
}
.attachment_container  table > thead > tr > th:nth-child(1),
.attachment_container  table > tbody > tr > td:nth-child(1){
	width:620px
}
.attachment_container  table > thead > tr > th:nth-child(2),
.attachment_container  table > tbody > tr > td:nth-child(2){
	width:150px
}
.attachment_container  table > thead > tr > th{text-align:center}
.attachment_container  table > tbody {height:210px !important; overflow-y:scroll;}
.attachment_container .progress {margin-top:10px}
.attachment_container  table > tbody > tr > td:nth-child(2) button{
	margin-left:10px;
}

.event-log {border: 1px solid #ddd; border-radius: 10px;padding:10px;font-size:12px;background-color:#EDF3DB;}
.event-log > div:nth-child(1){text-align:right}

#history{padding:15px;}

/* Login modal style*/
#singInModal input[type="text"]{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#singInModal input[type="password"]{
	margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#singInModal .modal-header{padding-top:0;padding-bottom:0;}
#failed-login{color:red;}
#signin i{margin-right:15px;}
#login-user, #logout{float:right;color:white; margin-right:10px;}
#logout{ cursor: pointer; cursor: hand; }
.filter-panel{padding:10px;}
.filters{width:340px; height:190px}
.filters td{padding:5px;}
#nav-icon{text-align:right;padding-right:2px;cursor: pointer; cursor: hand;}
#setting-tab{cursor: pointer; cursor: hand; visibility: hidden;}
#toggle-icon{color:white;}
#setting-button-list td{padding:5px;}
#setting-button-list td > button {width:200px;}
.panel-heading-color{background-color:#428bca !important; color:white !important;}
#account-editor{width:350px;padding:5px}
.filter-list{width:445px;border-bottom}

.custom-filter-condition select{width:180px; float:left;}
.custom-filter-condition input{width:180px !important; float:left;margin-left:5px;}
#btn-apply-filter{margin-left:5px;margin-bottom:10px; width:100px;}
#btn-add-condition{margin-right:5px;margin-bottom:10px; width:100px;}
.btn-delete-filter{margin-left:10px}
.custom-filter-condition{margin-bottom:5px;}

#export-fields-container  td{width:170px; text-align:left;padding:1px;font-size:13px}
#export-fields-container > button {margin-bottom:10px; margin-left:20px;}
.row-group{border-bottom:solid #ccc 1px;display: block;width:700px;padding:10px}
#export-fields-container div:nth-child(1){width:250px;margin-left:auto; margin-right:auto;margin-bottom:10px;}
#export-fields-container > table > tbody:nth-child(1){border-top:solid #ccc 1px;}